<h2>Probeaufgabe - {{name}} - {{date | date:'mediumDate'}}</h2>
<div class="container">
  <div class="container__view-area">
    <div *ngIf="arrayData; else loading;">
      <device-view
        *ngFor="let device of arrayData"
        [item]="device"
        (remove)="onRemove($event)">
      </device-view>
    </div>
    <ng-template #loading>
      Keine Geräte vorhanden
    </ng-template>
  </div>
  <div class="container__action-area">
    <input type="file" accept=".json" #fileInput name="file" (change)="onFileChanged(fileInput)">
    <button type="button" class="button" (click)="onUpload()">Geräte hinzufüngen</button>
  </div>
</div>
<div class="wrapper">
  <router-outlet></router-outlet>
</div>
